<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzsf.operation.dao.ServiceMapper">
    <update id="update" parameterType="com.gzsf.operation.model.ServiceModel" >
        UPDATE service
        <set>
            <if test="serviceName != null">
                service_name = #{serviceName},
            </if>
            <if test="fileId != null">
                file_id = #{fileId},
            </if>
            <if test="fileVersion != null">
                file_version = #{fileVersion},
            </if>
            <if test="type != null">
               `type` = #{type},
            </if>
            <if test="startCmd != null">
                `start_cmd` = #{startCmd},
            </if>

            <if test="stopCmd != null">
                `stop_cmd` = #{stopCmd},
            </if>

            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        where service_id = #{serviceId}  and is_del=0
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="service_id" parameterType="com.gzsf.operation.model.ServiceModel">
        insert into service
        <trim prefix="(" suffix=")" suffixOverrides=",">
                service_name,
                file_id ,
                file_version,
            <if test="type != null">
                `type`,
            </if>
            <if test="startCmd != null">
                `start_cmd`,
            </if>

            <if test="stopCmd != null">
                `stop_cmd`,
            </if>

            <if test="updatedAt != null">
                updated_at,
            </if>

            <if test="createdAt != null">
                created_at,
            </if>

            <if test="createdBy != null">
                created_by,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
              #{serviceName},
              #{fileId},
              #{fileVersion},
            <if test="type != null">
                #{type},
            </if>
            <if test="startCmd != null">
                #{startCmd},
            </if>

            <if test="stopCmd != null">
                 #{stopCmd},
            </if>

            <if test="updatedAt != null">
               #{updatedAt},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>

            <if test="createdBy != null">
                #{createdBy},
            </if>

            <if test="description != null">
                #{description},
            </if>
        </trim>
    </insert>
    <update id="delete">
        update service set is_del=1 where service_id=#{serviceId}
    </update>



    <select id="getServices" resultType="com.gzsf.operation.model.ServiceModel">
        select s.service_id,s.service_name,s.file_id,s.file_version, s.type,s.start_cmd,s.stop_cmd,s.created_by,s.created_at,s.updated_at,s.description, f.file_name from service s left join  file f on f.file_id=s.file_id
        where s.is_del =0
    </select>



</mapper>