<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzsf.operation.dao.UserMapper">
    <update id="update" parameterType="com.gzsf.operation.model.User" >
        UPDATE user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        where (user_id = #{userId} OR user_name= #{userName}) and is_del=0
    </update>

    <select id="getUserById" resultType="com.gzsf.operation.model.User" parameterType="java.lang.Long">
        select user_id, user_name, role, created_at, updated_at,description from  user where user_id=#{userId} and is_del=1
    </select>
    <select id="login" resultType="com.gzsf.operation.model.User">
        select user_id, user_name, role, created_at, updated_at,description from operation.user where user_name=#{userName} and password=#{password} and is_del=1
    </select>
    <insert id="insert" parameterType="com.gzsf.operation.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_name,
            `password`,
            <if test="role != null">
                `role`,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="description!=null">
                description
            </if>
            <if test="createdBy!=null">
                created_by
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userName},
            #{password},
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
            <if test="description!=null">
                #{description},
            </if>
            <if test="createdBy!=null">
                #{createdBy},
            </if>
        </trim>
    </insert>
    <update id="delete">
        update user set is_del=1 where user_id=#{userId}
    </update>
</mapper>